
 <mat-grid-list cols="12" rowHeight="650px">
 <mat-grid-tile [colspan]=3 [rowspan]=1 >
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://www.beautyschoolsdirectory.com/sites/default/files/2017-08/faq-program-hairstylist.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      ADD1:<br>
      ADD2:<br>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
</mat-grid-tile>
<mat-grid-tile [colspan]=9 [rowspan]=2 style=" position:absolute;top:8px " >
  <div style="position:relative;left:0px;bottom:200px">
<app-calen ></app-calen>
  </div>
</mat-grid-tile>
<mat-grid-tile [colspan]=3 [rowspan]=1>
Desrciption and skill
</mat-grid-tile>
</mat-grid-list>


   
     


  