<div>
    
<div id = "calendar-com">
        <h1>CALENDAR</h1>
       
<table>
  <tr>
  <th>
<mat-form-field >
  
  <mat-select placeholder="Year" [(ngModel)]="year"  style='font-size:25px'>
    <mat-option *ngFor="let y of years"  [value]="y.value" (click) ="calendar()" >        
      {{ y.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>

  </th>

  <th>            
      <mat-form-field >
          
          <mat-select placeholder="Month" [(ngModel)]="month"   style='font-size:25px'>
            <mat-option *ngFor="let m of months"  [value]="m.value" (click) ="calendar()" >        
              {{ m.viewValue }}
            </mat-option>
          </mat-select>
      </mat-form-field>
      
  </th>
  
  </tr>
</table> 


<!-- second table-->
<table>
<tr>
  <th  ><button mat-button disabled>
      
  <div id = "calendar" style=' background-color: #5f1e545e'  >
     
  <p id = "calendar-day" >{{sevenDays[0]}}</p>

  </div></button>

  </th>

  <th><button mat-button disabled>
   
  <div id = "calendar"  >
  <p id = "calendar-day">{{sevenDays[1]}}</p>
 
  </div></button>

  </th>

  <th><button mat-button disabled>
    <div id = "calendar" >
  <p id = "calendar-day">{{sevenDays[2]}}</p>
  
  </div></button>
  </th>

  <th><button mat-button disabled>
    <div id = "calendar" >
  <p id = "calendar-day">{{sevenDays[3]}}</p>
 
  </div></button>
  </th>

  <th><button mat-button disabled>
    <div id = "calendar" >
  <p id = "calendar-day">{{sevenDays[4]}}</p>
  
  </div></button>
  </th>

  <th><button mat-button disabled>
    <div id = "calendar" >
  <p id = "calendar-day">{{sevenDays[5]}}</p>
  
  </div></button>
  </th>

  <th><button mat-button disabled>
      <div id = "calendar" style=' background-color: #5f1e545e' >
      <p id = "calendar-day">{{sevenDays[6]}}</p>     
      </div> </button>
  </th>
        
</tr>

<tr>
<td><button mat-button [disabled]="disableButton(0)" (click) = "selectedDate(0)" >
    <div id = "calendar" style=' background-color: #5f1e545e'>
        <p style="font-size:10;background-color:#29d40e8e">morning</p>
        <p id = "calendar-day"   [ngStyle]="setStylesUpper(0) ">{{calenderArray[0]}} </p>
       
     </div>
    </button>
</td>
<td><button mat-button [disabled]="disableButton(2)" (click) = "selectedDate(2)" >
    <div id = "calendar" >
        <p style="font-size:10;background-color:#33aa1d79">morning</p>
        <p id = "calendar-day"[ngStyle]="setStylesUpper(2)" >{{calenderArray[2]}}</p>
        
     </div></button>
</td>
<td><button mat-button [disabled]="disableButton(4)" (click) = "selectedDate(4)">
    <div id = "calendar" >
        <p style="font-size:10;background-color:#33aa1d79">morning</p>
        <p id = "calendar-day" [ngStyle]="setStylesUpper(4)">{{calenderArray[4]}}</p>
        
     </div></button>
</td>
<td><button mat-button [disabled]="disableButton(6)" (click) = "selectedDate(6)">
    <div id = "calendar" >
        <p style="font-size:10;background-color:#33aa1d79">morning</p>
        <p id = "calendar-day" [ngStyle]="setStylesUpper(6)">{{calenderArray[6]}}</p>
        
     </div></button>
</td>
<td><button mat-button [disabled]="disableButton(8)" (click) = "selectedDate(8)">
    <div id = "calendar" >
        <p style="font-size:10;background-color:#33aa1d79">morning</p>
        <p id = "calendar-day" [ngStyle]="setStylesUpper(8)">{{calenderArray[8]}}</p>
       
     </div></button>
</td>
<td><button mat-button [disabled]="disableButton(10)" (click) = "selectedDate(10)">
    <div id = "calendar">
        <p style="font-size:10;background-color:#33aa1d79">morning</p>
        <p id = "calendar-day" [ngStyle]="setStylesUpper(10)">{{calenderArray[10]}}</p>
      
     </div></button>
</td>
<td><button mat-button [disabled]="disableButton(12)" (click) = "selectedDate(12)">
    <div id = "calendar" style=' background-color: #5f1e545e' >
        <p style="font-size:10;background-color:#29d40e8e">morning</p>
        <p id = "calendar-day"[ngStyle]="setStylesUpper(12)">{{calenderArray[12]}}</p>
        
     </div></button>
</td>

</tr>

<tr>
    <td><button mat-button  [disabled]="disableButton(1)" (click) = "selectedDate(1)">
        <div id = "calendar" style=' background-color: #5f1e545e' >
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"   [ngStyle]="setStylesUpper(1) ">{{calenderArray[1]}}</p>
           
         </div></button>
        
    </td>
    <td><button mat-button [disabled]="disableButton(3)" (click) = "selectedDate(3)">
        <div id = "calendar" >
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"[ngStyle]="setStylesUpper(3)" >{{calenderArray[3]}}</p>
            
         </div></button>
    </td>
    <td><button mat-button [disabled]="disableButton(5)" (click) = "selectedDate(5)">
        <div id = "calendar" >
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day" [ngStyle]="setStylesUpper(5)">{{calenderArray[5]}}</p>
            
         </div></button>
    </td>
    <td><button mat-button [disabled]="disableButton(7)" (click) = "selectedDate(7)">
        <div id = "calendar" >
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day" [ngStyle]="setStylesUpper(7)">{{calenderArray[7]}}</p>
            
         </div></button>
    </td>
    <td><button mat-button [disabled]="disableButton(9)" (click) = "selectedDate(9)">
        <div id = "calendar" >
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day" [ngStyle]="setStylesUpper(9)">{{calenderArray[9]}}</p>
           
         </div></button>
    </td>
    <td><button mat-button [disabled]="disableButton(11)" (click) = "selectedDate(11)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day" [ngStyle]="setStylesUpper(11)">{{calenderArray[11]}}</p>
          
         </div></button>
    </td>
    <td><button mat-button [disabled]="disableButton(13)" (click) = "selectedDate(13)">
        <div id = "calendar"style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"[ngStyle]="setStylesUpper(13)">{{calenderArray[13]}}</p>
            
         </div></button>
    </td>
    
    </tr>

<tr>
    <td><button mat-button [disabled]="disableButton(14)" (click) = "selectedDate(14)">
        <div id = "calendar"style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#29d40e8e">morning</p>
            <p id = "calendar-day" [ngStyle]="setStyle(14)">{{calenderArray[14]}}</p>
            
         </div></button>
    </td>
    <td><button mat-button [disabled]="disableButton(16)" (click) = "selectedDate(16)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#33aa1d79">morning</p>
            <p id = "calendar-day" [ngStyle]="setStyle(16)">{{calenderArray[16]}}</p>
            
         </div></button>
    </td>
    <td><button mat-button [disabled]="disableButton(18)" (click) = "selectedDate(18)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#33aa1d79">morning</p>
            <p id = "calendar-day" [ngStyle]="setStyle(18)">{{calenderArray[18]}}</p>
            
         </div></button>
    </td>
    <td><button mat-button [disabled]="disableButton(20)" (click) = "selectedDate(20)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#33aa1d79">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(20)">{{calenderArray[20]}}</p>
           
         </div></button>
         
    </td>
    <td><button mat-button [disabled]="disableButton(22)" (click) = "selectedDate(22)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#33aa1d79">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(22)">{{calenderArray[22]}}</p>
           
         </div></button>
    </td>
    <td><button mat-button [disabled]="disableButton(24)" (click) = "selectedDate(24)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#33aa1d79">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(24)">{{calenderArray[24]}}</p>
            
         </div></button>
    </td>
    <td><button mat-button [disabled]="disableButton(26)" (click) = "selectedDate(26)">
        <div id = "calendar" style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#29d40e8e">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(26)" >{{calenderArray[26]}}</p>
           
         </div></button>
    </td>    
</tr>


<tr>
    <td><button mat-button [disabled]="disableButton(15)" (click) = "selectedDate(15)">
        <div id = "calendar"style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day" [ngStyle]="setStyle(15)">{{calenderArray[15]}}</p>
            
         </div></button>
    </td>
    <td><button mat-button [disabled]="disableButton(17)" (click) = "selectedDate(17)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day" [ngStyle]="setStyle(17)">{{calenderArray[17]}}</p>
            
         </div></button>
    </td>
    <td><button mat-button [disabled]="disableButton(19)" (click) = "selectedDate(19)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day" [ngStyle]="setStyle(19)">{{calenderArray[19]}}</p>
            
         </div></button>
    </td>
    <td><button mat-button [disabled]="disableButton(21)" (click) = "selectedDate(21)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(21)">{{calenderArray[21]}}</p>
           
         </div></button>
         
    </td>
    <td><button mat-button [disabled]="disableButton(23)" (click) = "selectedDate(23)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(23)">{{calenderArray[23]}}</p>
           
         </div></button>
    </td>
    <td><button mat-button [disabled]="disableButton(25)" (click) = "selectedDate(25)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(25)">{{calenderArray[25]}}</p>
            
         </div></button>
    </td>
    <td><button mat-button [disabled]="disableButton(27)" (click) = "selectedDate(27)">
        <div id = "calendar" style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(27)" >{{calenderArray[27]}}</p>
           
         </div></button>
    </td>    
</tr>

<tr>
    <td><button mat-button [disabled]="disableButton(28)" (click) = "selectedDate(28)">
        <div id = "calendar" style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#29d40e8e">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(28)" >{{calenderArray[28]}}</p>
            
          </div></button>
    </td>
    <td><button mat-button  [disabled]="disableButton(30)" (click) = "selectedDate(30)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#33aa1d79">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(30)">{{calenderArray[30]}}</p>
           
         </div></button>
    </td>
    <td><button mat-button  [disabled]="disableButton(32)" (click) = "selectedDate(32)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#33aa1d79">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(32)">{{calenderArray[32]}}</p>
            
          </div></button>
    </td>
    <td><button mat-button  [disabled]="disableButton(34)" (click) = "selectedDate(34)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#33aa1d79">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(34)">{{calenderArray[34]}}</p>
           
          </div></button>
    </td>
    <td><button mat-button  [disabled]="disableButton(36)" (click) = "selectedDate(36)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#33aa1d79">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(36)">{{calenderArray[36]}}</p>
            
          </div></button>
    </td>
    <td><button mat-button  [disabled]="disableButton(38)" (click) = "selectedDate(38)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#33aa1d79">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(38)">{{calenderArray[38]}}</p>
            
          </div></button>
    </td>
    <td><button mat-button  [disabled]="disableButton(40)" (click) = "selectedDate(40)">
        <div id = "calendar"style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#29d40e8e">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(40)">{{calenderArray[40]}}</p>
            
          </div>
        </button>
    </td>
        
</tr>

<tr>
    <td><button mat-button  [disabled]="disableButton(29)" (click) = "selectedDate(29)">
        <div id = "calendar" style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(29)" >{{calenderArray[29]}}</p>
            
          </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="disableButton(31)" (click) = "selectedDate(31)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(31)">{{calenderArray[31]}}</p>
           
         </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="disableButton(33)" (click) = "selectedDate(33)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(33)">{{calenderArray[33]}}</p>
            
          </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="disableButton(35)" (click) = "selectedDate(35)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(35)">{{calenderArray[35]}}</p>
           
          </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="disableButton(37)" (click) = "selectedDate(37)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(37)">{{calenderArray[37]}}</p>
            
          </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="disableButton(39)" (click) = "selectedDate(39)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(39)">{{calenderArray[39]}}</p>
            
          </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="disableButton(41)" (click) = "selectedDate(41)">
        <div id = "calendar"style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(41)">{{calenderArray[41]}}</p>
            
          </div>
        </button>
    </td>
        
</tr>


<tr>
    <td><button mat-button  [disabled]="disableButton(42)" (click) = "selectedDate(42)">
        <div id = "calendar" style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#29d40e8e">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(42)">{{calenderArray[42]}}</p>
            
          </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="disableButton(44)" (click) = "selectedDate(44)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#33aa1d79">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(44)">{{calenderArray[44]}}</p>
            
         </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="disableButton(46)" (click) = "selectedDate(46)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#33aa1d79">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(46)">{{calenderArray[46]}}</p>
           
          </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="disableButton(48)" (click) = "selectedDate(48)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#33aa1d79">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(48)">{{calenderArray[48]}}</p>
            
          </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="disableButton(50)" (click) = "selectedDate(50)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#33aa1d79">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(50)">{{calenderArray[50]}}</p>
           
          </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="disableButton(52)" (click) = "selectedDate(52)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#33aa1d79">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(52)">{{calenderArray[52]}}</p>
           
          </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="disableButton(54)" (click) = "selectedDate(54)">
        <div id = "calendar" style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#29d40e8e">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(54)">{{calenderArray[54]}}</p>
           
          </div>
        </button>
    </td>
    
  </tr>


<tr>
    <td><button mat-button  [disabled]="disableButton(43)" (click) = "selectedDate(43)">
        <div id = "calendar" style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(43)">{{calenderArray[43]}}</p>
            
          </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="disableButton(45)" (click) = "selectedDate(45)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(45)">{{calenderArray[45]}}</p>
            
         </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="disableButton(47)" (click) = "selectedDate(47)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(47)">{{calenderArray[47]}}</p>
           
          </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="disableButton(49)" (click) = "selectedDate(49)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(49)">{{calenderArray[49]}}</p>
            
          </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="disableButton(51)" (click) = "selectedDate(51)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(51)">{{calenderArray[51]}}</p>
           
          </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="disableButton(53)" (click) = "selectedDate(53)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(53)">{{calenderArray[53]}}</p>
           
          </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="disableButton(55)" (click) = "selectedDate(55)">
        <div id = "calendar" style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(55)">{{calenderArray[55]}}</p>
           
          </div>
        </button>
    </td>
    
  </tr>

<tr>
<td><button mat-button   [disabled]="disableButton(56)" (click) = "selectedDate(56)">
    <div id = "calendar" style=' background-color: #5f1e545e'>
        <p style="font-size:10;background-color:#29d40e8e">morning</p>
        <p id = "calendar-day" [ngStyle]="setStylesDown(56)">{{calenderArray[56]}}</p>
       
     </div>
    </button>
</td>
<td><button mat-button  [disabled]="disableButton(58)" (click) = "selectedDate(58)">
    <div id = "calendar">
        <p style="font-size:10;background-color:#33aa1d79">morning</p>
        <p id = "calendar-day" [ngStyle]="setStylesDown(58)">{{calenderArray[58]}}</p>
       
     </div>
    </button>
</td>
<td><button mat-button  [disabled]="disableButton(60)" (click) = "selectedDate(60)">
    <div id = "calendar">
        <p style="font-size:10;background-color:#33aa1d79">morning</p>
        <p id = "calendar-day" [ngStyle]="setStylesDown(60)">{{calenderArray[60]}}</p>
       
     </div>
    </button>
</td>
<td><button mat-button  [disabled]="disableButton(62)" (click) = "selectedDate(62)">
    <div id = "calendar">
        <p style="font-size:10;background-color:#33aa1d79">morning</p>
        <p id = "calendar-day" [ngStyle]="setStylesDown(62)">{{calenderArray[62]}}</p>
       
     </div>
    </button>
</td>
<td><button mat-button  [disabled]="disableButton(64)" (click) = "selectedDate(64)">
    <div id = "calendar">
        <p style="font-size:10;background-color:#33aa1d79">morning</p>
        <p id = "calendar-day" [ngStyle]="setStylesDown(64)">{{calenderArray[64]}}</p>
        
     </div>
    </button>
</td>
<td><button mat-button  [disabled]="disableButton(66)" (click) = "selectedDate(66)">
    <div id = "calendar">
        <p style="font-size:10;background-color:#33aa1d79">morning</p>
        <p id = "calendar-day" [ngStyle]="setStylesDown(66)">{{calenderArray[66]}}</p>
       
     </div>
    </button>
</td>
<td><button mat-button  [disabled]="disableButton(68)" (click) = "selectedDate(68)">
    <div id = "calendar" style=' background-color: #5f1e545e'>
        <p style="font-size:10;background-color:#29d40e8e">morning</p>
        <p id = "calendar-day" [ngStyle]="setStylesDown(68)">{{calenderArray[68]}}</p>
        
     </div>
    </button>
</td>

</tr>


<tr>
    <td><button mat-button  [disabled]="disableButton(57)" (click) = "selectedDate(57)">
        <div id = "calendar" style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day" [ngStyle]="setStylesDown(57)">{{calenderArray[57]}}</p>
           
         </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="disableButton(59)" (click) = "selectedDate(59)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day" [ngStyle]="setStylesDown(59)">{{calenderArray[59]}}</p>
           
         </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="disableButton(61)" (click) = "selectedDate(61)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day" [ngStyle]="setStylesDown(61)">{{calenderArray[61]}}</p>
           
         </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="disableButton(63)" (click) = "selectedDate(63)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day" [ngStyle]="setStylesDown(63)">{{calenderArray[63]}}</p>
           
         </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="disableButton(65)" (click) = "selectedDate(65)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day" [ngStyle]="setStylesDown(65)">{{calenderArray[65]}}</p>
            
         </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="disableButton(67)" (click) = "selectedDate(67)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day" [ngStyle]="setStylesDown(67)">{{calenderArray[67]}}</p>
           
         </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="disableButton(69)" (click) = "selectedDate(69)">
        <div id = "calendar" style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day" [ngStyle]="setStylesDown(69)">{{calenderArray[69]}}</p>
            
         </div>
        </button>
    </td>
    
    </tr>


  <tr>
<td><button mat-button  [disabled]="disableButton(70)" (click) = "selectedDate(70)">
    <div id = "calendar" style=' background-color: #5f1e545e'>
        <p style="font-size:10;background-color:#29d40e8e">morning</p>
        <p id = "calendar-day" [ngStyle]="setStylesDown(70)">{{calenderArray[70]}}</p>
       
     </div>
    </button>
</td>
<td><button mat-button  [disabled]="disableButton(72)" (click) = "selectedDate(72)">
    <div id = "calendar" >
        <p style="font-size:10;background-color:#33aa1d79">morning</p>
        <p id = "calendar-day"  [ngStyle]="setStylesDown(72)">{{calenderArray[72]}}</p>
       
     </div>
    </button>
</td>
<td><button mat-button  [disabled]="disableButton(74)" (click) = "selectedDate(74)">
    <div id = "calendar">
        <p style="font-size:10;background-color:#33aa1d79">morning</p>
        <p id = "calendar-day"  [ngStyle]="setStylesDown(74)">{{calenderArray[74]}}</p>
       
     </div>
    </button>
</td>
<td><button mat-button   [disabled]="disableButton(76)" (click) = "selectedDate(76)">
    <div id = "calendar">
        <p style="font-size:10;background-color:#33aa1d79">morning</p>
        <p id = "calendar-day"  [ngStyle]="setStylesDown(76)">{{calenderArray[76]}}</p>
        
     </div>
    </button>
</td>
<td><button mat-button   [disabled]="disableButton(78)" (click) = "selectedDate(78)">
    <div id = "calendar">
        <p style="font-size:10;background-color:#33aa1d79">morning</p>
        <p id = "calendar-day"  [ngStyle]="setStylesDown(78)">{{calenderArray[78]}}</p>
       
     </div>
    </button>
</td>
<td><button mat-button   [disabled]="disableButton(80)" (click) = "selectedDate(80)">
    <div id = "calendar">
        <p style="font-size:10;background-color:#33aa1d79">morning</p>
        <p id = "calendar-day"  [ngStyle]="setStylesDown(80)">{{calenderArray[80]}}</p>
       
     </div>
    </button>
</td>
<td><button mat-button   [disabled]="disableButton(82)" (click) = "selectedDate(82)">
    <div id = "calendar" style=' background-color: #5f1e545e'>
        <p style="font-size:10;background-color:#29d40e8e">morning</p>
        <p id = "calendar-day"  [ngStyle]="setStylesDown(82)">{{calenderArray[82]}}</p>
       
     </div>
    </button>
</td>

</tr>

  
<tr>
    <td><button mat-button  [disabled]="disableButton(71)" (click) = "selectedDate(71)">
        <div id = "calendar" style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day" [ngStyle]="setStylesDown(71)">{{calenderArray[71]}}</p>
           
         </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="disableButton(73)" (click) = "selectedDate(73)">
        <div id = "calendar" >
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStylesDown(73)">{{calenderArray[73]}}</p>
           
         </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="disableButton(75)" (click) = "selectedDate(75)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStylesDown(75)">{{calenderArray[75]}}</p>
           
         </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="disableButton(77)" (click) = "selectedDate(77)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStylesDown(77)">{{calenderArray[77]}}</p>
            
         </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="disableButton(79)" (click) = "selectedDate(79)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStylesDown(79)">{{calenderArray[79]}}</p>
           
         </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="disableButton(81)" (click) = "selectedDate(81)">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStylesDown(81)">{{calenderArray[81]}}</p>
           
         </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="disableButton(83)" (click) = "selectedDate(83)">
        <div id = "calendar" style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStylesDown(83)">{{calenderArray[83]}}</p>
           
         </div>
        </button>
    </td>
    
    </tr>

  </table>
</div>


<div id = "main">
    <h1>I need to Book this stylist:</h1>
<ul >
    <li *ngFor = "let i of myBookings">
        {{i}}
        <span (click)="remove()" >X</span>
    </li>
</ul>
</div>
</div>