

<div id = "calendar-com">
        <h1>CALENDAR</h1>
        <h2>working</h2>
<table>
  <tr>
  <th>
<mat-form-field >
  
  <mat-select placeholder="Year" [(ngModel)]="year"  style='font-size:25px'>
    <mat-option *ngFor="let y of years"  [value]="y.value" (click) ="calendar()" >        
      {{ y.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>

  </th>

  <th>            
      <mat-form-field >
          
          <mat-select placeholder="Month" [(ngModel)]="month"   style='font-size:25px'>
            <mat-option *ngFor="let m of months"  [value]="m.value" (click) ="calendar()" >        
              {{ m.viewValue }}
            </mat-option>
          </mat-select>
      </mat-form-field>
      
  </th>
  
  </tr>
</table> 


<!-- second table-->
<table>
<tr>
  <th  ><button mat-button disabled>
      
  <div id = "calendar" style=' background-color: #5f1e545e'  >
     
  <p id = "calendar-day" >{{sevenDays[0]}}</p>

  </div></button>

  </th>

  <th><button mat-button disabled>
   
  <div id = "calendar"  >
  <p id = "calendar-day">{{sevenDays[1]}}</p>
 
  </div></button>

  </th>

  <th><button mat-button disabled>
    <div id = "calendar" >
  <p id = "calendar-day">{{sevenDays[2]}}</p>
  
  </div></button>
  </th>

  <th><button mat-button disabled>
    <div id = "calendar" >
  <p id = "calendar-day">{{sevenDays[3]}}</p>
 
  </div></button>
  </th>

  <th><button mat-button disabled>
    <div id = "calendar" >
  <p id = "calendar-day">{{sevenDays[4]}}</p>
  
  </div></button>
  </th>

  <th><button mat-button disabled>
    <div id = "calendar" >
  <p id = "calendar-day">{{sevenDays[5]}}</p>
  
  </div></button>
  </th>

  <th><button mat-button disabled>
      <div id = "calendar" style=' background-color: #5f1e545e' >
      <p id = "calendar-day">{{sevenDays[6]}}</p>     
      </div> </button>
  </th>
        
</tr>

<tr>
<td><button mat-button [disabled]="calenderArray[0]>22">
    <div id = "calendar" style=' background-color: #5f1e545e'>
        <p style="font-size:10;background-color:#29d40e8e">morning</p>
        <p id = "calendar-day"   [ngStyle]="setStylesUpper(0) ">{{calenderArray[0]}} </p>
       
     </div>
    </button>
</td>
<td><button mat-button  [disabled]="calenderArray[1]>22">
    <div id = "calendar" >
        <p style="font-size:10;background-color:#33aa1d79">morning</p>
        <p id = "calendar-day"[ngStyle]="setStylesUpper(1)" >{{calenderArray[1]}}</p>
        
     </div></button>
</td>
<td><button mat-button  [disabled]="calenderArray[2]>22">
    <div id = "calendar" >
        <p style="font-size:10;background-color:#33aa1d79">morning</p>
        <p id = "calendar-day" [ngStyle]="setStylesUpper(2)">{{calenderArray[2]}}</p>
        
     </div></button>
</td>
<td><button mat-button  [disabled]="calenderArray[3]>22">
    <div id = "calendar" >
        <p style="font-size:10;background-color:#33aa1d79">morning</p>
        <p id = "calendar-day" [ngStyle]="setStylesUpper(3)">{{calenderArray[3]}}</p>
        
     </div></button>
</td>
<td><button mat-button  [disabled]="calenderArray[4]>22">
    <div id = "calendar" >
        <p style="font-size:10;background-color:#33aa1d79">morning</p>
        <p id = "calendar-day" [ngStyle]="setStylesUpper(4)">{{calenderArray[4]}}</p>
       
     </div></button>
</td>
<td><button mat-button  [disabled]="calenderArray[5]>22">
    <div id = "calendar">
        <p style="font-size:10;background-color:#33aa1d79">morning</p>
        <p id = "calendar-day" [ngStyle]="setStylesUpper(5)">{{calenderArray[5]}}</p>
      
     </div></button>
</td>
<td><button mat-button >
    <div id = "calendar"style=' background-color: #5f1e545e'>
        <p style="font-size:10;background-color:#29d40e8e">morning</p>
        <p id = "calendar-day"[ngStyle]="setStylesUpper(6)">{{calenderArray[6]}}</p>
        
     </div></button>
</td>

</tr>

<tr>
    <td><button mat-button  [disabled]="calenderArray[0]>22">
        <div id = "calendar" style=' background-color: #5f1e545e'  >
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"   [ngStyle]="setStylesUpper(0) ">{{calenderArray[0]}}</p>
           
         </div></button>
        
    </td>
    <td><button mat-button  [disabled]="calenderArray[1]>22">
        <div id = "calendar" >
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"[ngStyle]="setStylesUpper(1)" >{{calenderArray[1]}}</p>
            
         </div></button>
    </td>
    <td><button mat-button  [disabled]="calenderArray[2]>22">
        <div id = "calendar" >
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day" [ngStyle]="setStylesUpper(2)">{{calenderArray[2]}}</p>
            
         </div></button>
    </td>
    <td><button mat-button  [disabled]="calenderArray[3]>22">
        <div id = "calendar" >
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day" [ngStyle]="setStylesUpper(3)">{{calenderArray[3]}}</p>
            
         </div></button>
    </td>
    <td><button mat-button  [disabled]="calenderArray[4]>22">
        <div id = "calendar" >
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day" [ngStyle]="setStylesUpper(4)">{{calenderArray[4]}}</p>
           
         </div></button>
    </td>
    <td><button mat-button  [disabled]="calenderArray[5]>22">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day" [ngStyle]="setStylesUpper(5)">{{calenderArray[5]}}</p>
          
         </div></button>
    </td>
    <td><button mat-button>
        <div id = "calendar"style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"[ngStyle]="setStylesUpper(6)">{{calenderArray[6]}}</p>
            
         </div></button>
    </td>
    
    </tr>

<tr>
    <td><button mat-button>
        <div id = "calendar"style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#29d40e8e">morning</p>
            <p id = "calendar-day" [ngStyle]="setStyle(7)">{{calenderArray[7]}}</p>
            
         </div></button>
    </td>
    <td><button mat-button>
        <div id = "calendar">
            <p style="font-size:10;background-color:#33aa1d79">morning</p>
            <p id = "calendar-day" [ngStyle]="setStyle(8)">{{calenderArray[8]}}</p>
            
         </div></button>
    </td>
    <td><button mat-button>
        <div id = "calendar">
            <p style="font-size:10;background-color:#33aa1d79">morning</p>
            <p id = "calendar-day" [ngStyle]="setStyle(9)">{{calenderArray[9]}}</p>
            
         </div></button>
    </td>
    <td><button mat-button>
        <div id = "calendar">
            <p style="font-size:10;background-color:#33aa1d79">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(10)">{{calenderArray[10]}}</p>
           
         </div></button>
         
    </td>
    <td><button mat-button>
        <div id = "calendar">
            <p style="font-size:10;background-color:#33aa1d79">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(11)">{{calenderArray[11]}}</p>
           
         </div></button>
    </td>
    <td><button mat-button>
        <div id = "calendar">
            <p style="font-size:10;background-color:#33aa1d79">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(12)">{{calenderArray[12]}}</p>
            
         </div></button>
    </td>
    <td><button mat-button>
        <div id = "calendar" style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#29d40e8e">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(13)" >{{calenderArray[13]}}</p>
           
         </div></button>
    </td>    
</tr>


<tr>
    <td><button mat-button>
        <div id = "calendar"style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day" [ngStyle]="setStyle(7)">{{calenderArray[7]}}</p>
            
         </div></button>
    </td>
    <td><button mat-button>
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day" [ngStyle]="setStyle(8)">{{calenderArray[8]}}</p>
            
         </div></button>
    </td>
    <td><button mat-button>
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day" [ngStyle]="setStyle(9)">{{calenderArray[9]}}</p>
            
         </div></button>
    </td>
    <td><button mat-button>
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(10)">{{calenderArray[10]}}</p>
           
         </div></button>
         
    </td>
    <td><button mat-button>
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(11)">{{calenderArray[11]}}</p>
           
         </div></button>
    </td>
    <td><button mat-button>
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(12)">{{calenderArray[12]}}</p>
            
         </div></button>
    </td>
    <td><button mat-button>
        <div id = "calendar" style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(13)" >{{calenderArray[13]}}</p>
           
         </div></button>
    </td>    
</tr>

<tr>
    <td><button mat-button>
        <div id = "calendar" style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#29d40e8e">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(14)" >{{calenderArray[14]}}</p>
            
          </div></button>
    </td>
    <td><button mat-button>
        <div id = "calendar">
            <p style="font-size:10;background-color:#33aa1d79">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(15)">{{calenderArray[15]}}</p>
           
         </div></button>
    </td>
    <td><button mat-button>
        <div id = "calendar">
            <p style="font-size:10;background-color:#33aa1d79">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(16)">{{calenderArray[16]}}</p>
            
          </div></button>
    </td>
    <td><button mat-button>
        <div id = "calendar">
            <p style="font-size:10;background-color:#33aa1d79">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(17)">{{calenderArray[17]}}</p>
           
          </div></button>
    </td>
    <td><button mat-button>
        <div id = "calendar">
            <p style="font-size:10;background-color:#33aa1d79">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(18)">{{calenderArray[18]}}</p>
            
          </div></button>
    </td>
    <td><button mat-button>
        <div id = "calendar">
            <p style="font-size:10;background-color:#33aa1d79">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(19)">{{calenderArray[19]}}</p>
            
          </div></button>
    </td>
    <td><button mat-button>
        <div id = "calendar"style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#29d40e8e">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(20)">{{calenderArray[20]}}</p>
            
          </div>
        </button>
    </td>
        
</tr>

<tr>
    <td><button mat-button>
        <div id = "calendar" style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(14)" >{{calenderArray[14]}}</p>
            
          </div>
        </button>
    </td>
    <td><button mat-button>
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(15)">{{calenderArray[15]}}</p>
           
         </div>
        </button>
    </td>
    <td><button mat-button>
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(16)">{{calenderArray[16]}}</p>
            
          </div>
        </button>
    </td>
    <td><button mat-button>
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(17)">{{calenderArray[17]}}</p>
           
          </div>
        </button>
    </td>
    <td><button mat-button>
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(18)">{{calenderArray[18]}}</p>
            
          </div>
        </button>
    </td>
    <td><button mat-button>
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(19)">{{calenderArray[19]}}</p>
            
          </div>
        </button>
    </td>
    <td><button mat-button>
        <div id = "calendar"style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(20)">{{calenderArray[20]}}</p>
            
          </div>
        </button>
    </td>
        
</tr>


<tr>
    <td><button mat-button>
        <div id = "calendar" style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#29d40e8e">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(21)">{{calenderArray[21]}}</p>
            
          </div>
        </button>
    </td>
    <td><button mat-button>
        <div id = "calendar">
            <p style="font-size:10;background-color:#33aa1d79">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(22)">{{calenderArray[22]}}</p>
            
         </div>
        </button>
    </td>
    <td><button mat-button>
        <div id = "calendar">
            <p style="font-size:10;background-color:#33aa1d79">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(23)">{{calenderArray[23]}}</p>
           
          </div>
        </button>
    </td>
    <td><button mat-button>
        <div id = "calendar">
            <p style="font-size:10;background-color:#33aa1d79">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(24)">{{calenderArray[24]}}</p>
            
          </div>
        </button>
    </td>
    <td><button mat-button>
        <div id = "calendar">
            <p style="font-size:10;background-color:#33aa1d79">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(25)">{{calenderArray[25]}}</p>
           
          </div>
        </button>
    </td>
    <td><button mat-button>
        <div id = "calendar">
            <p style="font-size:10;background-color:#33aa1d79">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(26)">{{calenderArray[26]}}</p>
           
          </div>
        </button>
    </td>
    <td><button mat-button>
        <div id = "calendar" style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#29d40e8e">morning</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(27)">{{calenderArray[27]}}</p>
           
          </div>
        </button>
    </td>
    
  </tr>


<tr>
    <td><button mat-button>
        <div id = "calendar" style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(21)">{{calenderArray[21]}}</p>
            
          </div>
        </button>
    </td>
    <td><button mat-button>
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(22)">{{calenderArray[22]}}</p>
            
         </div>
        </button>
    </td>
    <td><button mat-button>
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(23)">{{calenderArray[23]}}</p>
           
          </div>
        </button>
    </td>
    <td><button mat-button>
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(24)">{{calenderArray[24]}}</p>
            
          </div>
        </button>
    </td>
    <td><button mat-button>
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(25)">{{calenderArray[25]}}</p>
           
          </div>
        </button>
    </td>
    <td><button mat-button>
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(26)">{{calenderArray[26]}}</p>
           
          </div>
        </button>
    </td>
    <td><button mat-button>
        <div id = "calendar" style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStyle(27)">{{calenderArray[27]}}</p>
           
          </div>
        </button>
    </td>
    
  </tr>

<tr>
<td><button mat-button [disabled]="calenderArray[28]<15">
    <div id = "calendar" style=' background-color: #5f1e545e'>
        <p style="font-size:10;background-color:#29d40e8e">morning</p>
        <p id = "calendar-day" [ngStyle]="setStylesDown(28)">{{calenderArray[28]}}</p>
       
     </div>
    </button>
</td>
<td><button mat-button [disabled]="calenderArray[29]<15">
    <div id = "calendar">
        <p style="font-size:10;background-color:#33aa1d79">morning</p>
        <p id = "calendar-day" [ngStyle]="setStylesDown(29)">{{calenderArray[29]}}</p>
       
     </div>
    </button>
</td>
<td><button mat-button [disabled]="calenderArray[30]<15">
    <div id = "calendar">
        <p style="font-size:10;background-color:#33aa1d79">morning</p>
        <p id = "calendar-day" [ngStyle]="setStylesDown(30)">{{calenderArray[30]}}</p>
       
     </div>
    </button>
</td>
<td><button mat-button [disabled]="calenderArray[31]<15">
    <div id = "calendar">
        <p style="font-size:10;background-color:#33aa1d79">morning</p>
        <p id = "calendar-day" [ngStyle]="setStylesDown(31)">{{calenderArray[31]}}</p>
       
     </div>
    </button>
</td>
<td><button mat-button [disabled]="calenderArray[32]<15">
    <div id = "calendar">
        <p style="font-size:10;background-color:#33aa1d79">morning</p>
        <p id = "calendar-day" [ngStyle]="setStylesDown(32)">{{calenderArray[32]}}</p>
        
     </div>
    </button>
</td>
<td><button mat-button [disabled]="calenderArray[33]<15">
    <div id = "calendar">
        <p style="font-size:10;background-color:#33aa1d79">morning</p>
        <p id = "calendar-day" [ngStyle]="setStylesDown(33)">{{calenderArray[33]}}</p>
       
     </div>
    </button>
</td>
<td><button mat-button [disabled]="calenderArray[34]<15">
    <div id = "calendar" style=' background-color: #5f1e545e'>
        <p style="font-size:10;background-color:#29d40e8e">morning</p>
        <p id = "calendar-day" [ngStyle]="setStylesDown(34)">{{calenderArray[34]}}</p>
        
     </div>
    </button>
</td>

</tr>


<tr>
    <td><button mat-button [disabled]="calenderArray[28]<15">
        <div id = "calendar" style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day" [ngStyle]="setStylesDown(28)">{{calenderArray[28]}}</p>
           
         </div>
        </button>
    </td>
    <td><button mat-button [disabled]="calenderArray[29]<15">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day" [ngStyle]="setStylesDown(29)">{{calenderArray[29]}}</p>
           
         </div>
        </button>
    </td>
    <td><button mat-button [disabled]="calenderArray[30]<15">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day" [ngStyle]="setStylesDown(30)">{{calenderArray[30]}}</p>
           
         </div>
        </button>
    </td>
    <td><button mat-button [disabled]="calenderArray[31]<15">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day" [ngStyle]="setStylesDown(31)">{{calenderArray[31]}}</p>
           
         </div>
        </button>
    </td>
    <td><button mat-button [disabled]="calenderArray[32]<15">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day" [ngStyle]="setStylesDown(32)">{{calenderArray[32]}}</p>
            
         </div>
        </button>
    </td>
    <td><button mat-button [disabled]="calenderArray[33]<15">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day" [ngStyle]="setStylesDown(33)">{{calenderArray[33]}}</p>
           
         </div>
        </button>
    </td>
    <td><button mat-button [disabled]="calenderArray[34]<15">
        <div id = "calendar" style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day" [ngStyle]="setStylesDown(34)">{{calenderArray[34]}}</p>
            
         </div>
        </button>
    </td>
    
    </tr>


  <tr>
<td><button mat-button [disabled]="calenderArray[35]<15">
    <div id = "calendar" style=' background-color: #5f1e545e'>
        <p style="font-size:10;background-color:#29d40e8e">morning</p>
        <p id = "calendar-day" [ngStyle]="setStylesDown(35)">{{calenderArray[35]}}</p>
       
     </div>
    </button>
</td>
<td><button mat-button [disabled]="calenderArray[36]<15">
    <div id = "calendar" >
        <p style="font-size:10;background-color:#33aa1d79">morning</p>
        <p id = "calendar-day"  [ngStyle]="setStylesDown(36)">{{calenderArray[36]}}</p>
       
     </div>
    </button>
</td>
<td><button mat-button [disabled]="calenderArray[37]<15">
    <div id = "calendar">
        <p style="font-size:10;background-color:#33aa1d79">morning</p>
        <p id = "calendar-day"  [ngStyle]="setStylesDown(37)">{{calenderArray[37]}}</p>
       
     </div>
    </button>
</td>
<td><button mat-button  [disabled]="calenderArray[38]<15">
    <div id = "calendar">
        <p style="font-size:10;background-color:#33aa1d79">morning</p>
        <p id = "calendar-day"  [ngStyle]="setStylesDown(38)">{{calenderArray[38]}}</p>
        
     </div>
    </button>
</td>
<td><button mat-button  [disabled]="calenderArray[39]<15">
    <div id = "calendar">
        <p style="font-size:10;background-color:#33aa1d79">morning</p>
        <p id = "calendar-day"  [ngStyle]="setStylesDown(39)">{{calenderArray[39]}}</p>
       
     </div>
    </button>
</td>
<td><button mat-button  [disabled]="calenderArray[40]<15">
    <div id = "calendar">
        <p style="font-size:10;background-color:#33aa1d79">morning</p>
        <p id = "calendar-day"  [ngStyle]="setStylesDown(40)">{{calenderArray[40]}}</p>
       
     </div>
    </button>
</td>
<td><button mat-button  [disabled]="calenderArray[41]<15">
    <div id = "calendar" style=' background-color: #5f1e545e'>
        <p style="font-size:10;background-color:#29d40e8e">morning</p>
        <p id = "calendar-day"  [ngStyle]="setStylesDown(41)">{{calenderArray[41]}}</p>
       
     </div>
    </button>
</td>

</tr>

  
<tr>
    <td><button mat-button  [disabled]="calenderArray[35]<15">
        <div id = "calendar" style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day" [ngStyle]="setStylesDown(35)">{{calenderArray[35]}}</p>
           
         </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="calenderArray[36]<15">
        <div id = "calendar" >
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStylesDown(36)">{{calenderArray[36]}}</p>
           
         </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="calenderArray[37]<15">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStylesDown(37)">{{calenderArray[37]}}</p>
           
         </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="calenderArray[38]<15">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStylesDown(38)">{{calenderArray[38]}}</p>
            
         </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="calenderArray[39]<15">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStylesDown(39)">{{calenderArray[39]}}</p>
           
         </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="calenderArray[40]<15">
        <div id = "calendar">
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStylesDown(40)">{{calenderArray[40]}}</p>
           
         </div>
        </button>
    </td>
    <td><button mat-button  [disabled]="calenderArray[41]<15">
        <div id = "calendar" style=' background-color: #5f1e545e'>
            <p style="font-size:10;background-color:#9c49228e">evening</p>
            <p id = "calendar-day"  [ngStyle]="setStylesDown(41)">{{calenderArray[41]}}</p>
           
         </div>
        </button>
    </td>
    
    </tr>

  </table>
</div>

