#calendar{
    width: 75px;
    height:50 px;
    background-color: #b8bb13bd;
    color: rgb(133, 88, 88);
    border-radius: 5%;
    box-shadow: 0 4px 4px 0 rgba(29, 27, 26, 0.76);
    
}

#calendar>p{
    font-family: Verdana, Arial, sans-serif;
    padding: 3px 0;
    margin: 0;
    color: #fff;
    text-align:center;
}

#calendar-day{
    font-size: 15px;
}

#calendar-month-year{
    font-size: 14px;
}

#calendar-date{
    font-size: 64px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#calendar-com{
   position: relative;
   top: 200px;
 
  
  
}

#booking-details{
    position: absolute;
    left: 500px;
    top:375px;
}


ul{
    width: 500px;
    position: absolute;
    right: -500px;
    top:350px;
    list-style: none;
    font-size: 40px;
    color:#1f11e2e0;
    margin-left: -40px;
    margin-bottom:0px 

}

li{
    text-align: left;  
    border-bottom: 1px solid #e0d8d8;
    background-color: #e70303ab;
    padding: 10px 0px;
    margin-bottom: 5px;
}

span {
    
    cursor: pointer;
    position: relative;
    float:right;
    margin-right: 10px; 
}

h1 {

    position: relative;
    top:-950px;
    left:800px

}

