

<div class="search">
    <img src= "https://i.pinimg.com/736x/cb/1f/84/cb1f847a7a7b97000a4429d4805dc05a--small-salon-makeup-salon.jpg" alt="Photo of beauty" width="1900" height="500">

</div>

<form class="example-form">
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="{{searchString}}" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click) = "search(option)" >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>

     
      <div class="expandClass">
          <h1 style="color:rgb(221, 220, 220)" >Advance Search</h1>

          <mat-accordion class="example-headers-align">
            <mat-expansion-panel  (opened)="setStep(0)" hideToggle="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Filter By skill
                </mat-panel-title>
                <mat-panel-description>
                  choose the skill:
                  <mat-icon>label</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
          
              <mat-form-field>
                <mat-select placeholder="I want" [(ngModel)]="skill">
                  <mat-option *ngFor="let skill of skills" [value]="skill.value" >
                    {{ skill.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          
              <mat-action-row>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
              </mat-action-row>
            </mat-expansion-panel>
          
            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Price
                </mat-panel-title>
                <mat-panel-description>
                  Set the Max price( per slot ) you need:
                  <mat-icon>attach_money</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
          
              <mat-slider [(ngModel)]="sliderValue" [min] = 200 [max]=1000 ></mat-slider>
              <input matInput type="number" placeholder="Value" [(ngModel)]="sliderValue">$
              <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
              </mat-action-row>
            </mat-expansion-panel>
          
          
          </mat-accordion>
   
        

   
    <section class="example-section">
        <mat-checkbox class="example-margin" [(ngModel)]="disabled" (click)="advance_search()" [(ngModel)]="checked">Apply</mat-checkbox>
      </section>
    
      </div>

     

    <table>
    <th  *ngFor = "let stylist_detail of stylist_details">
       
    <mat-card class="example-card" >
        <a routerLink="/salon-view/{{stylist_detail.id}}">
        <mat-card-header>
          
          <mat-card-title>{{stylist_detail.first_name}} {{stylist_detail.last_name}}</mat-card-title>
          <mat-card-subtitle>Stylist from:{{stylist_detail.address_line_02}}, {{stylist_detail.address_line_02}},{{stylist_detail.city}} </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{stylist_detail.src}} alt="Photo of a Shiba Inu" style="height:400px">
        <mat-card-content>
          <p>
            
          </p>
          
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <p>
            {{stylist_detail.description}}<br> 

          </p>
        </mat-card-actions>
        </a>
      </mat-card>
     
      </th>   
    </table>

   
   
  
 