<div class="expandClass">
<mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
      
        <mat-form-field>
            <input matInput [matDatepicker]="picker1" placeholder="Available Date From:" [formControl]="date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <input matInput [matDatepicker]="picker2" placeholder="To:"
                   [formControl]="serializedDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
                   
    </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Max Price you needed($)
        </mat-panel-title>
        <mat-panel-description>
         
          <mat-icon>map</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      

      <mat-slider  min="1" max="1000" step="0.5" value="1.5"></mat-slider>
      
  
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  
    
  
  </mat-accordion>
</div>